/*navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 5px;
    padding-bottom: 8px;
}

/*home */
#home{
    height: 280px;
    padding: 3px 38px;
}
#home::before{
    height: 350px;
}
#home p{
    font-size: 10px;
}
#home h1{
    font-size: 1.5rem;
}

/*service */
#service{
flex-direction: column;
}

#service .box img{
    height: 180px;
    width: 150px;
    display: block;
    margin: auto;
    /* margin-top: 5px; */

} 
#service .box{
    padding: 14px;
    margin: 1px 6px;
    
}
/*client */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 50px;
    padding: 2px 6px;
    height: auto;
}
.client-item{
    padding: 15px;

}
/*contact us*/
#contact-box form{
    width: 80%;
}

/*footer */

/*utility classes*/
.h-primary{
    font-size: 25px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}